*{
    margin: 0;
    margin-right: 3%;
    padding:0;

    
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
body,html{
	height: 100%;
	font-family: 'Merriweather', serif;
}
main{
    margin-left:4%;
    margin-right:4%;
    width: 100%;
    height: 580px;
    display: grid;
    grid-template-rows: repeat(2,48%)  ;
    grid-template-columns: repeat(3,30%);
    grid-gap:5%;
	font-family: 'Merriweather', serif;
}


.div1{
    background: rgb(240, 225, 250);
	font-family: 'Merriweather', serif;
    border-radius: 10px;
    
}

main1{
    margin-left:4%;
    margin-right:4%;
    width: 100%;
    height: 580px;
    display: grid;
    grid-template-rows: repeat(3,48%)  ;
    grid-template-columns: repeat(3,30%);
    grid-gap:5%;
	font-family: 'Merriweather', serif;
}