
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
body,html{
	height: 100%;
	font-family: 'Merriweather', serif;
    background-color: rgb(245, 242, 250);
    
}
*{
    margin-right: 0px;
    margin-left: 0px;
    
}
.h{
    margin-top: 10%;
    }
#head1{
    margin-top:10%;
    margin-left: 15%;
    font-weight:bolder;
    line-height: 60px;

}

#head11{
    margin-left: 15%;
    font-size:2em;
    text-transform: capitalize;
    line-height: 60px;
    
}
#head111{
    margin-left: 10%;
    font-size:2em;
    text-transform: capitalize;
    line-height: 60px;
    
}
#line1{
    height:0.05px;
    margin-left:9%;
    margin-bottom: 20px;
    background-color: black;
    width:14%;
}
#line2{
    display: block;
  margin-top:0px;
  margin-bottom: 0.5em;
  margin-left: 30px;
  margin-right: auto;
  background-color: black;
  height: 0.04px;
  width:130px;
}
#line3{
    display: block;
  margin-top:0px;
  margin-bottom: 0.5em;
  margin-left: 30px;
  margin-right: auto;
  background-color: black;
  height: 0.04px;
  width:200px;
}
p{
    line-height:0.6em;
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10%;
    
}
.btn1{
    background: rgb(26, 25, 25);
    border:black;
    margin-left: 10%;
    border-radius: 90px;
    color:white;
    padding: 5px 10px;
    padding-top: 1.2px;
    margin-right: 1%;
	font-family: 'Merriweather', serif;
    height: 50px;
    width: 150px;
    
}
.btn2{
    border-radius: 90px;
    background: rgb(242, 243, 250);
        padding:5px 10px ;
    margin-left: 10%;
    margin-left: 0px;
    border-width: 0.2px;
    border-color: black;
    margin-top:20px;
	font-family: 'Merriweather', serif;
    height: 50px;
    width: 200px;
    
}

#banner{
    background:10px rgb(96, 2, 248);
    font-weight: bold;
    margin-left:3px;
}

  .navbar{
    background-color: rgb(129, 103, 248);
    padding-top: 1%;
    width: 100%;
    height:5vw;
    color:white;
    position: fixed;
    margin-right: 0%;
    text-decoration: none;
    top: 0;
    float: right;
  }

#n1{
    color:white;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.5vw;
    margin-right:0.5%;
    margin-top: 10px;

    
}
.n2{
    width: 5%;
    display: inline;
}
#n3 {
    float: right;
    color:white;
    text-decoration: none;
    margin-right:0.5%;
    padding: 10px 20px;
    margin-bottom: 1px;
    font-size: 1.3vw;

}
li{
    display: inline;
    list-style-type: none;

}
h2{
    margin-left: 30px;
    margin-bottom: 0%;
    
}

img{
    width:10%;
    margin-bottom:0%;
    margin:10px;
    
}

.i{
    margin-left: 10%; 
    height: 200px; 
    width: 2500px;
}
#box{
    background: rgba(175, 142, 175, 0.849);
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    padding-top:30px;
    padding-bottom:120px;
    padding-right: 190px;
    
	font-family: 'Merriweather', serif;
}